/**
 *
 * Card
 *
 * @author Takuto Yanagida
 * @version 2021-11-17
 *
 */


@mixin custom-property {
	--nc-container-card-row-gap   : 1rem;
	--nc-container-card-column-gap: 1rem;

	--nc-container-card-min-width-2: 16rem;
	--nc-container-card-min-width-3: 12rem;
	--nc-container-card-min-width-4: 10rem;
	--nc-container-card-min-width-5: 8rem;
	--nc-container-card-min-width-6: 6rem;
}

%container {
	display: grid;
	gap    : var(--nc-container-card-row-gap) var(--nc-container-card-column-gap);

	> * { margin: 0; }
}

@mixin card-n {
	@extend %container;
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			var(--nc-container-card-min-width),
			1fr
		)
	);
}

@mixin card-3-1 {
	--nc-container-card-min-width: var(--nc-container-card-min-width-3, 12rem);

	@extend %container;
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			clamp(
				var(--nc-container-card-min-width),
				(var(--nc-container-card-min-width) * 3 + var(--nc-container-card-column-gap) * 2 - 100%) * 9999,
				51%
			),
			1fr
		)
	);
}

@mixin card-4-2-1 {
	--nc-container-card-min-width: var(--nc-container-card-min-width-4, 10rem);

	@extend %container;
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			clamp(
				var(--nc-container-card-min-width),
				(var(--nc-container-card-min-width) * 4 + var(--nc-container-card-column-gap) * 3 - 100%) * 9999,
				34%
			),
			1fr
		)
	);
}

@mixin card-6-3-2-1 {
	--nc-container-card-min-width: var(--nc-container-card-min-width-6, 6rem);

	@extend %container;
	grid-template-columns: repeat(
		auto-fit,
		minmax(
			clamp(
				var(--nc-container-card-min-width),
				(var(--nc-container-card-min-width) * 6 + var(--nc-container-card-column-gap) * 5 - 100%) * 9999,
				26%
			),
			1fr
		)
	);
}
