/**
 *
 * Container
 *
 * @author Takuto Yanagida
 * @version 2021-11-17
 *
 */


@use 'card';


:root {
	@include card.custom-property;
}


// -----------------------------------------------------------------------------


.column-2 {
	--nc-card-min-width: var(--nc-card-min-width-2);
	@include card.card-n;
}

.column-3 {
	@include card.card-3-1;
}

.column-4 {
	@include card.card-4-2-1;
}

.column-6 {
	@include card.card-6-3-2-1;
}


// -----------------------------------------------------------------------------


.card-2 {
	--nc-card-min-width: var(--nc-card-min-width-2);
	@include card.card-n;
}

.card-3 {
	--nc-card-min-width: var(--nc-card-min-width-3);
	@include card.card-n;
}

.card-4 {
	--nc-card-min-width: var(--nc-card-min-width-4);
	@include card.card-n;
}

.card-5 {
	--nc-card-min-width: var(--nc-card-min-width-5);
	@include card.card-n;
}

.card-6 {
	--nc-card-min-width: var(--nc-card-min-width-6);
	@include card.card-n;
}
